*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffa3a3;
    font-family: 'Overpass', sans-serif;
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 40px;
}
.div1{
    border: 3px solid black;
    width: 100%;
    height: 750px;
    position: relative;
}
.img1{
    transform: translateY(-50%);
    top: 50%;
    left: 5%;
    border-radius: 10px;
    position: absolute;
}
.text{
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    right: 5%;
    border: solid white 5px;
    height: 450px;
    width: 900px;
    text-align: center;
    font-size: 30px;
}
p{
    margin-top: 45px;
}