*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: #494949;
    color: white;
}
.table{
    width: 25%;
    background-color: #fff;
}
tr{
    text-align: center;
}
th, td{
    padding: 4px 0px 6px;
}
.tableHeader{
    background-color: #4d83bf;
}
.r1{
    color: black;
    background-color: #cdd4e4;
}
.r2{
    color: black;
    background-color: #e7eef6;
}
.column1{
    padding: 4px 19px 6px;
}
.column2{
    padding: 4px 10px 6px;
}
.column3{
    padding: 4px 9px 6px;
}
.column4{
    padding: 4px 11px 6px;
}
.column5{
    padding: 4px 3px 6px;
}
.column6{
    padding: 4px 13px 6px;
}
.column7{
    padding: 4px 11px 6px;
}
.column8{
    padding: 4px 8px 6px;
}