*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    background-color: #f5a9b8;
    color: black;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: white 0px 0px 8px;
    border: 2px solid lightskyblue;
    letter-spacing: 10px;
}