*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: darkorange;
    height: 100px;
    text-align: center;
}
h1{
    font-size: 50px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    background-color: lightsalmon;
}
button{
    background-color: darkorange;
    margin-left: 100px;
    height: 30px;
    width: 60px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    border: 3px solid yellow;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
}
footer{
    text-align: right;
    line-height: 61px;
    font-size: 30px;
    font-weight: bold;
    background-color: darkorange;
    height: 61px;
    padding-right: 25px;
}
