header{
    background-color: #829EB9;
    height: 50px;
    font-family: Arial;
    text-align: center;
}
nav{
    background-color: #b3c6d9;
    height: 600px;
    width: 25%;
    float: left;
}
main{
    background-color: #e0e9f1;
    height: 600px;
    width: 75%;
    text-align: center;
    float: left;
}
footer{
    background-color: #829eb9;
    font-family: Arial;
    text-align: right;
    clear: both;
}
.imgHaslo{
    margin-top: 75px;
}