body{
    background-color: #686868;
    font-family: 'Onest', sans-serif;
    font-size: 25px;
    text-align: justify;
    color: #FFF;
}
img{
    border-radius: 25px;
    display: block;
    margin: auto;
}
p{
    font-family: 'Onest', sans-serif;
    font-size: 30px;
    text-align: center;
    color: #FFF;
}