*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #373737;
}
.main{
    position: relative;
    height: 450px;
    width: 450px;
    background-color: white;
    margin: auto;
    top: -50%;
    transform: translateY(50%);
}
.small{
    position: absolute;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
.c1{
    background-color: white;
    top: 0px;
    left: 0px;
}
.c2{
    background-color: #808080;
    top: 0px;
    left: 150px;
}
.c3{
    background-color: black;
    top: 0px;
    left: 300px;
    color:white
}
.c4{
    background-color: #008080;
    top: 150px;
    left: 0px;
}
.c5{
    background-color: #408080;
    top: 150px;
    left: 150px;
}
.c6{
    background-color: #204040;
    top: 150px;
    left: 300px;
}
.c7{
    background-color: #00FFFF;
    top: 300px;
    left: 0px;
}
.c8{
    background-color: #20C0C0;
    top: 300px;
    left: 150px;
}
.c9{
    background-color: #208080;
    top: 300px;
    left: 300px;
}