*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body{
    background-color: #385700;
    color: white;
    font-family: 'Roboto';
}
header{
    padding: 10px;
    margin-bottom: 50px;
    font-size: 25px;
    background-color: #568500;
    border-bottom: 5px solid black;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
div{
    width: 33.33%;
}
a{
    color: white;
    text-decoration: none;
}

li{
    text-align: left;
}
h1{
    cursor: not-allowed;
}
.whatIsIt{
    cursor: pointer;
}
.whatIsItDesc{
    cursor: crosshair;
}
.boysDayImg{
    cursor: move;
}
.whenIsIt{
    cursor: help;
}
.whenIsItDays{
    cursor: vertical-text;
}
footer{
    margin-top: 100px;
    font-size: 30px;
}
.girlsDay{
    color: rgb(255, 187, 221);
    text-decoration: underline;
}