*{
    font-family: Arial, Helvetica, sans-serifW;

}
.t1, .t3{
    border-collapse: collapse;
    font-size: 16px;
}
.t1, th, td{
    border: 2px solid black;
}
.t1h > th{
    height: 40px;
}
.t1r1 > td{
    height: 60px;
}
.t1r2 > td{
    height: 80px;
}
.t1r3 > td{
    height: 50px;
}
.t1h > th, .t2h > th{
    background-color: green;
    color: white;
}
.t3h{
    background-color: orange;
    color: blue;
}
.t3 > * > tr > *{
    width: 200px;
}